@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<p>Thats Hornet from Hollow Knight: Silk Song</p>

<img src="img/hornet.webp" alt="Hornet from Silk Song" />

<hr>
<h3>Demo Contador</h3>
<Contador InitialValue="10" OnChange="HandleChange" />

@code {
    int lastValue;
    void HandleChange(int v) => lastValue = v;
}

<p>Último valor recebido: @lastValue</p>
<hr>

<hr>
<h3>Demo Rating</h3>
<Rating @bind-Value="nota" />
<p>Nota escolhida: @nota</p>

@code {
    int nota = 3;
}
<hr>

<hr>
<h3>Toggle Demo</h3>
<Toggle @bind-Value="ativo" />

<p>Status: @(ativo ? "Ativo" : "Inativo")</p>

@code {
    bool ativo = false;
}
<hr>

<hr>
<h3>Card Demo</h3>

<Card Title="Usuário">
    <ChildContent>Nome: Ana</ChildContent>
    <Footer>
        <button class="btn btn-sm btn-secondary">Fechar</button>
    </Footer>
</Card>
<hr>

<hr>
<h3>List Demo</h3>
<ListTemplate Items="@(new[] { "Maçã", "Banana", "Pera" })">
    <RowTemplate Context="it">
        <span><b>@it</b></span>
    </RowTemplate>
</ListTemplate>
<hr>

<hr>
<h3>Table Template demo</h3>

<TableTemplate Items="@pessoas">
    <Header>
        <th>Nome</th>
        <th>Idade</th>
    </Header>
    <RowTemplate Context="p">
        <td>@p.Nome</td>
        <td>@p.Idade</td>
    </RowTemplate>
</TableTemplate>

@code {
    record Pessoa(string Nome, int Idade);
    List<Pessoa> pessoas = new()
    {
        new("Ana", 25),
        new("Carlos", 30),
        new("Maria", 22)
    };
}
<hr>

<hr>
<h3>Modal Demo</h3>
<button class="btn btn-primary" @onclick="() => showModal = true">Abrir Modal</button>

<Modal Title="Confirmação" @bind-Show="showModal">
    <ChildContent>
        <p>Deseja realmente continuar?</p>
    </ChildContent>
    <Footer>
        <button class="btn btn-secondary" @onclick="() => showModal = false">Cancel</button>
        <button class="btn btn-danger" @onclick="Confirm">Confirm</button>
    </Footer>
</Modal>

@code {
    private bool showModal = false;

    void Confirm()
    {
        showModal = false;
        Console.WriteLine("Action confirmed!");
    }
}
<hr>

<hr>
<h3>Clientes</h3>

<ul>
    <li><a href="cliente/1">Cliente 1</a></li>
    <li><a href="cliente/2">Cliente 2</a></li>
</ul>
<hr>
